body {
    font-family: "poppins", sans-serif;
    background-color: #242133;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}

section {
       max-width: 1200px;
       margin: 40 auto;
       padding: 100px;
}
section.secondary {
    background-color: #f8f8f8;

}
section.secondary {
    text-align: center;
    padding: 20px;
}
.food {
    margin: 20px;
    padding: 50px;
}
.food-info {
    margin: 20px;
    padding: 40px;

}
.food-section-images {
    grid-gap: 5px;
    transition: all 150ms ease-in-out;
}
.food-section-images img:hover {
    transform: scale(1.5);
    
}

.grid {
     display: grid;
     grid-gap: 24px;
}
.grid-2-columns {
    grid-template-columns: 1fr 1fr;
  
}
.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-footer {
    grid-template-columns: 1fr 2fr 2fr;
   
}

.text-center {
    text-align: center;
}

.card {
    background-color: white;
   

}

.card-header.grid {
    grid-gap: 0;
}
.embed {
    width: 100%;
    aspect-ratio: 1/1;
}

.card-body {
    padding: 30px;
    

}
.card h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #272044;
    margin: 0;

}
.card h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    color: #272044;
    margin: 0;

}
.btn {
    display: block;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 16px;
    background-color: #462cb3;
    text-decoration: none;

}
    
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/seoul.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: o;

}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: white;
    text-decoration: none; 
    padding: 16px 32px;
    margin-top: 32px;
}

.img-responsive {
    width: 100%;
    display: block;
    transition:  all 150ms ease-in-out;
}
.img-responsive:hover {
    transform: scale(1.5);
}

main {
    background-color: white;

}
main h2{
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    opacity: 0.3;
    color: #272044;
    text-transform: uppercase;


}
main h4 {
    font-weight: 700;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: #272044;

}
main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;

}

footer {
   
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/koreashops.png");
    background-size: cover;
    background-repeat: no repeat;
    padding: 60px;
    

    
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;

}
footer a {
    color: white;
    opacity: .7;

}




@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    section {
        padding: 30px;

    }
    .card-header  img {
        display: none;

    }
    .embed {
        aspect-ration: 16/9;
    }
}